<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle rol</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilosGenericos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha384-rsSJS4iQDQlmhLmCML8JLEx3D7fgHA3wKknCdqdRV5h5z5wXYXa2QTzD2gi/6U6" crossorigin="anonymous">
</head>
</head>


<body>

 {{> header title="Detalle rol"}} 

    <div class="containerDetalle">
        

        <div class="factura-container" style="padding: 10px;">
            <div class="factura">
                <div class="factura-detalle align-items-start">
                    <div class="d-flex justify-content-between">
                        <div class="sucursal-info">
                            <p style="font-weight: bold;">Nombre</p>
                        </div>
                        <div class="sucursal-info text-end">
                            <p>Administrador</p>
                        </div>
                    </div>
                    <hr>
                    <div class="informacion-adicional mt-3" id="permisosList">
                    <!-- El contenido de la lista se agregará aquí con JavaScript -->
                </div>
                </div>
            </div>
        </div>
    </div>


<script>
const data = [
        {
            modulos: 'Configuración',
            permisos: [
                { name: 'Roles', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar', 'Cambiar estado'] },
                { name: 'Gestion de usuarios', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar'] }
            ]
        },
        {
            modulos: 'Compras',
            permisos: [
                { name: 'Categoria De Insumos', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar', 'Cambiar estado'] },
                { name: 'Gestión De Insumos', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar', 'Cambiar estado'] },
                { name: 'Gestión De Proveedores', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar', 'Cambiar estado'] },
                { name: 'Gestión De Compras', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar'] }
            ]
        },
        {
            modulos: 'Producción',
            permisos: [
                { name: 'Gestión De Empleados', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar', 'Cambiar estado'] },
                { name: 'Gestión De Ficha Tecnica', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar'] },
                { name: 'Gestión De Orden De Producción', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar'] }
            ]
        },
        {
            modulos: 'Productos',
            permisos: [
                { name: 'Estampados', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar', 'Cambiar estado'] },
                { name: 'Catalogo De Productos', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar'] },
                { name: 'Producto Base', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar'] },
                { name: 'Producto Personalizado', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar'] }
            ]
        },
        {
            modulos: 'Pedidos',
            permisos: [
                { name: 'Gestión De Cotización', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar'] },
                { name: 'Gestión Carrito De Productos', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar'] },
                { name: 'Gestión De Pedidos', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar'] }
            ]
        },
        {
            modulos: 'Ventas',
            permisos: [
                { name: 'Gestión De Clientes', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar', 'Cambiar estado'] },
                { name: 'Gestión De Ventas', privilegios: ['Listar', 'Crear', 'Editar', 'Eliminar', 'Buscar'] }
            ]
        },
    ];

    const permisosList = document.getElementById('permisosList');

    // Función para manejar el clic en el nombre del permiso
    function handlePermisoClick(permisosListElement) {
        const privilegiosList = permisosListElement.querySelector('ul');

        if (privilegiosList.style.display === 'none' || !privilegiosList.style.display) {
            privilegiosList.style.display = 'block';
        } else {
            privilegiosList.style.display = 'none';
        }
    }

   data.forEach(modulo => {
            const moduloElement = document.createElement('div');
            moduloElement.innerHTML = `<p style="font-weight: bold;">${modulo.modulos}</p>`;

            const permisosListElement = document.createElement('ul');
            modulo.permisos.forEach((permiso, index) => {
                const permisoElement = document.createElement('li');
                const collapseId = `collapse-${modulo.modulos}-${index}`;
                permisoElement.innerHTML = `
                    <span class="text-decoration-underline" data-bs-toggle="collapse" href="#${collapseId}">
                        ${permiso.name}
                    </span>
                    <ul class="collapse" id="${collapseId}">
                        ${permiso.privilegios.map(privilegio => `<li>${privilegio}</li>`).join('')}
                    </ul>`;
                permisosListElement.appendChild(permisoElement);
            });

            moduloElement.appendChild(permisosListElement);
            permisosList.appendChild(moduloElement);
        });
</script>
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
        integrity="sha384-qRjgN70F6F2UqKvZtxIj6jfcgZlV5BdGJ8mOA4O5TFP0MfPXT1OfJiLNT9cM51Vq" crossorigin="anonymous"></script>
   
</body>

</html>
