<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,  shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilosgeneral.css">
    <link rel="stylesheet" href="../css/fichatecnica.css">
    <link rel="stylesheet" href="../css/estilostablacolores.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    </style>

    <title>Agregar Pedido</title>
</head>

<body>

    {{> header title="Ficha Tecnica"}}
    <!--FIN NAVBAR-->
    <div class="containerAgregarPedido"> <!--Contenedor Padre-->


        <form class="formularioInt">
            <!--Contenedor Hijo (AQUÍ ESTÁ NETAMENTE EL FORMULARIO)-->

            <a href="/listarPedido.html"><img src="/assets/img/return.ico" class="img-return"></a>
            <h1 class="textoh1">Ficha Tecnica Producto</h1>

            <div class="row">

                <div class="col-md-6">



                    <div class="col-md-12 mt-5 mb-5 form-group">
                        <label for="nombreProducto" class="form-label fontTtitle">Nombre Producto <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control btnInput" name="nombreProducto" id="nombreProducto"
                            oninput="validarNombre()">
                        <div id="mensajeError"></div>
                    </div>

                    <div class="p-1 mb-6 form-group">
                         <h2 class="textoh2 mt-3"> Talla:</h2>
  
  <div id="tallas">
    <div class="circle" onclick="toggleSelection(0)">XS</div>
    <div class="circle" onclick="toggleSelection(1)">S</div>
    <div class="circle" onclick="toggleSelection(2)">M</div>
    <div class="circle" onclick="toggleSelection(3)">L</div>
    <div class="circle" onclick="toggleSelection(4)">XL</div>
    <div class="circle" onclick="toggleSelection(5)">U</div>
  </div>


                    </div>





                    <div class="col-md-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Activo/Inactivo</label>
                        </div>

                    </div>

                    <div class="row4 gridAggPedido">
                        <div class="insumos">
                            <h1 class="textoh2 mt-3">Selección de colores </h1>
                            <input type="color" class="form-control form-control-color" id="exampleColorInput"
                                value="#563d7c" title="Choose your color">

                            <select id="select-colores">
                                <option value="">Seleccione un color</option>
                                <option value="rojo">Rojo</option>
                                <option value="negro">Negro</option>
                                <option value="blanco">Blanco</option>
                                <option value="verde">Verde</option>
                                <option value="azul">Azul</option>
                            </select>

                            <button id="btn-agregar" type="button">Agregar</button>


                            <ul id="colores-seleccionados"></ul>



                        </div>
                    </div>












                    <!--modal de guardar-->

                </div>
                <!--MODAL DE CANCELAR-->
            </div>

            <div class="modal" tabindex="-1" id="miModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Tu Formulario ha sido guardado exitosamente</p>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary " id="btnAceptar">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" tabindex="-1" id="mimodal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>¿Estás seguro de que deseas cancelar?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="btnCancelar"
                                onclick="realizarAccionCancelar()">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row2">
                <!--Incio rowTransaccion-->
                <div class="rowTransaccion gridAggPedido2">


                    <div class="p-2 mb-6  form-group">
                        <label for="nomInsumo" class="form-label fontTtitleAggPedido2">Imagen Producto <span
                                class="text-danger">*</span></label>
                    </div>


                    <!-- Contenedor para la vista previa de la imagen -->
                    <div class="contenedorImg2" id="contenedorImg2">
                        <img id="imgComprobante" class="imgComprobante ">

                    </div>

                    <!--Comprobante de pago-->
                    <div class="contenedorArchivo">
                        <form>
                            <div class="form-control">
                                <label for="customFile" class="form-label">Seleccionar Imagen</label>
                                <input type="file" class="form-control visually-hidden" id="customFile" accept="image/*"
                                    onchange="mostrarImagenSeleccionada(this)" required>

                            </div>
                        </form>
                    </div>

                </div>

                <!--Fin de rowTransaccion-->




                <div class="row5">

                    <!--LISTADO DE PRODUCTOS-->
                    <div class="containerListarAgg">

                        <div class="container2"> <!--Contenedor tipo encabezado, para el titulo-->


                            <div class="form-group insumos ">
                                <label for="insumos" class="textoh2 mt-3">Lista de insumos asociados<span
                                        class="text-danger">*
                                    </span></label>
                                <ul id="insumos" class="list-group">
                                    <div class="search">

                                        <form class="d-flex" role="search">
                                            <input class="form-control me-2 campo-search" type="search"
                                                placeholder="Buscar" aria-label="Search">
                                            <!-- Para modificar el tamaño del logo icono ".icono-search"  y para modificar la orientacion de este ".boton-search" -->
                                            <button class="btn btn-outline-secondary boton-search" type="submit"><img
                                                    src="../img/search.ico" alt="search" class="icono-search"></button>
                                        </form>


                                    </div>

                                    <li class="list-group-item">
                                        <input type="text" class="form-control" placeholder="Insumo">
                                        <input type="number" class="form-control" placeholder="Cantidad">
                                        <input type="number" class="form-control" placeholder=" Precio Insumo">

                                        <button type="button" class="btn btncolor"
                                            onclick="eliminarInsumo(this)">Eliminar</button>

                                    </li>
                                </ul>
                                <button type="button" class="btn btncolor" onclick="agregarInsumo()">Agregar
                                    insumo</button>
                                <p id="mensajeErrorAgregarInsumo" class="text-danger">debes asosciar al menos un
                                    insumo
                                </p>

                            </div>

                        </div>

                    </div>

                    <button type="button" class="btn btnGuardar" onclick="mostrarModal()">Guardar</button>
                    <button type="button" class="btn btnCancelar" data-bs-toggle="modal"
                        data-bs-target="#mimodal">cancelar</button>

                </div>


            </div>





        </form>



    </div>

    {{> footer }}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="../js/validacionfichatecnica.js"></script>
    <script src="../js/validacioncolores.js"></script>
      <script src="../js/tallas.js"></script>


</body>

</html>