<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilosgeneral.css">
    <link rel="stylesheet" href="../css/stylelistaCoti.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    </style>

    <title>Listar</title>
</head>


 

<body>
     {{> header title="Listar Cotizacion"}}
    <main>

        <div class="search">
            
            <form class="d-flex" role="search">
                 <input class="form-control me-2 campo-search" type="search" placeholder="Buscar" aria-label="Search">    
                  <!-- Para modificar el tamaño del logo icono ".icono-search"  y para modificar la orientacion de este ".boton-search" -->
                  <button class="btn btn-outline-secondary boton-search" type="submit"><img src="/assets/img/search.ico" alt="search"  class="icono-search"></button>
            </form>


        </div>


 
    <div class="container">

            <div class="container2"> <!--Contenedor tipo encabezado, para el titulo-->

                    <h2 class="fontTtitle mt-3">Listado Cotización</h2>

                    <table class="table table-orientacion">
                        <thead>
                          <tr>
                            <td scope="col">ID</td>
                            <td scope="col" class="camposListar">Nombre Producto</td>
                            <td scope="col" class="camposListar">Cantidad</td>
                            <td scope="col" class="text-center camposListar">operaciones</td>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row" class="datosListar">0001</th>
                            <td class="datosListar">Guantes moto</td>
                            <td class="datosListar">20</td>
                            <td class="icons"> 

                               <!--EDITAR -->
                               
                                                  <!--BOTONES SIN LA MODAL, ASÍ SE USARÁN NORMALMENTE-->
                                                  <a href="/vistaCotizacion">
                                                    <img src="../img/show.ico" alt="" class="iconos-listar">
                                                </a>
                                    <div class="btnContainer">
                                        <button type="button" class="btn btnAprobar">Aprobar</button>
                                        <button type="button" class="btn btnRechazar">Rechazar</button>
                                    </div>
                                        
                            </td>
                          </tr>

                          <tr>
                            <th scope="row" class="datosListar">0002</th>
                            <td class="datosListar">Medias veladas</td>
                            <td class="datosListar">30</td>
                            <td class="icons"> 

                                   <!--EDITAR, Botones con el codigo de la modal, para quienes deseen aplicarlo.-->



                                    <div>   <a href=""> <img src="/assets/img/show.ico" alt="" class="iconos-listar"></a></div>
                                    <div class="btnContainer">
                                        <button type="button" class="btn btnAprobar">Aprobar</button>
                                        <button type="button" class="btn btnRechazar">Rechazar</button>
                                    </div>
     
                            </td>

                          </tr>
                          <tr>
                            <th scope="row" class="datosListar">0003</th>
                            <td class="datosListar">Gorros</td>
                            <td class="datosListar">15</td>
                            <td class="icons"> 


             


                                    <div>   <a href=""> <img src="/assets/img/show.ico" alt="" class="iconos-listar"></a></div>
                                    <div class="btnContainer">
                                        <button type="button" class="btn btnAprobar">Aprobar</button>
                                        <button type="button" class="btn btnRechazar">Rechazar</button>
                                    </div>

                            </td>

                          </tr>

                          <tr>
                            <th scope="row" class="datosListar">0004</th>
                            <td class="datosListar">Cinturones</td>
                            <td class="datosListar">23</td>
                            <td class="icons"> 


            


                                    <div>   <a href=""> <img src="/assets/img/show.ico" alt="" class="iconos-listar"></a></div>
                                    <div class="btnContainer">
                                        <button type="button" class="btn btnAprobar">Aprobar</button>
                                        <button type="button" class="btn btnRechazar">Rechazar</button>
                                    </div>

                            </td>
                          </tr>

                          <tr>
                            <th scope="row" class="datosListar">0005</th>
                            <td class="datosListar">Sandalias</td>
                            <td class="datosListar">20</td>
                            <td class="icons"> 


          


                                    <div>   <a href=""> <img src="/assets/img/show.ico" alt="" class="iconos-listar"></a></div>
                                    <div class="btnContainer">
                                        <button type="button" class="btn btnAprobar">Aprobar</button>
                                        <button type="button" class="btn btnRechazar">Rechazar</button>
                                    </div>
                                    
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <nav aria-label="Page navigation example" class="pag">
                        <ul class="pagination justify-content-end">
                          <li class="page-item disabled">
                            <a class="page-link">&laquo;</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">&raquo;</a>
                          </li>
                        </ul>
                      </nav>

            </div>
            
    </div>

</main>



{{> footer }}
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>






  
</body>

</html>