<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/stylelistaCoti.css">
    <link rel="stylesheet" href="../css/estilosgeneral.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    </style>

    <title>Listar</title>
</head>



 

<body>
  {{> header title="Cotización"}}
    <main>

        <div class="search">
            
            <form class="d-flex" role="search">
                 <input class="form-control me-2 campo-search" type="search" placeholder="Buscar" aria-label="Search">    
                  <!-- Para modificar el tamaño del logo icono ".icono-search"  y para modificar la orientacion de este ".boton-search" -->
                  <button class="btn btn-outline-secondary boton-search" type="submit"><img src="/assets/img/search.ico" alt="search"  class="icono-search"></button>
            </form>


        </div>
        <div class="">
          <a href="cotizacion">
              <button type="button" class="btn btn-light more">+ Agregar</button>
          </a>
      </div>

 
    <div class="container">

            <div class="container2"> <!--Contenedor tipo encabezado, para el titulo-->

                    <h2 class="fontTtitle mt-3">Listado Cotización</h2>

                    <table class="table table-orientacion">
                        <thead>
                          <tr>
                            <td scope="col">ID</td>
                            <td scope="col" class="camposListar">Nombre Producto</td>
                            <td scope="col" class="camposListar">Cantidad</td>
                            <td scope="col" class="camposListar">Orden</td>
                            <td scope="col" class="camposListar">Valor a pagar</td>
                            <td scope="col" class="text-center camposListar">operaciones</td>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row" class="datosListar">0001</th>
                            <td class="datosListar">Guantes moto</td>
                            <td class="datosListar">20</td>
                            <td class="datosListar">2</td>
                            <td class="datosListar">250.000</td>
                            <td class="icons"> 

                               <!--EDITAR -->
                               
                                                  <!--BOTONES SIN LA MODAL, ASÍ SE USARÁN NORMALMENTE-->
                                                  <a href="./visualizarCotizacion.hbs">
                                                    <img src="../img/show.ico" alt="" class="iconos-listar">
                                                </a>
                                                <a href="">
                                                  <img src="../img/descargar-icono.png" alt="" class="iconos-listar">
                                              </a>
                                   
                                        
                            </td>
                          </tr>

                          <tr>
                            <th scope="row" class="datosListar">0002</th>
                            <td class="datosListar">Medias veladas</td>
                            <td class="datosListar">30</td>
                            <td class="datosListar">3</td>
                            <td class="datosListar">450.000</td>

                            <td class="icons"> 

                                   <!--EDITAR, Botones con el codigo de la modal, para quienes deseen aplicarlo.-->



                                   <a href="">
                                    <img src="../img/show.ico" alt="" class="iconos-listar">
                                </a>
                                <a href="">
                                  <img src="../img/descargar-icono.png" alt="" class="iconos-listar">
                              </a>
     
                            </td>

                          </tr>
                          <tr>
                            <th scope="row" class="datosListar">0004</th>
                            <td class="datosListar">Gorros</td>
                            <td class="datosListar">15</td>
                            <td class="datosListar">4</td>
                            <td class="datosListar">200.000</td>
                            <td class="icons"> 


             

                              <a href="">
                                <img src="../img/show.ico" alt="" class="iconos-listar">
                            </a>
                            <a href="">
                              <img src="../img/descargar-icono.png" alt="" class="iconos-listar">
                          </a>
                                    

                            </td>

                          </tr>

                          <tr>
                            <th scope="row" class="datosListar">0004</th>
                            <td class="datosListar">Cinturones</td>
                            <td class="datosListar">23</td>
                            <td class="datosListar">5</td>
                            <td class="datosListar">500.000</td>
                            <td class="icons"> 


            

                              <a href="">
                                <img src="../img/show.ico" alt="" class="iconos-listar">
                            </a>
                            <a href="">
                              <img src="../img/descargar-icono.png" alt="" class="iconos-listar">
                          </a>

                            </td>
                          </tr>

                          <tr>
                            <th scope="row" class="datosListar">0005</th>
                            <td class="datosListar">Sandalias</td>
                            <td class="datosListar">20</td>
                            <td class="datosListar">6</td>
                            <td class="datosListar">480.000</td>

                            <td class="icons"> 


          


                              <a href="">
                                <img src="../img/show.ico" alt="" class="iconos-listar">
                            </a>
                            <a href="">
                              <img src="../img/descargar-icono.png" alt="" class="iconos-listar">
                          </a>
                                    
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <nav aria-label="Page navigation example" class="pag">
                        <ul class="pagination justify-content-end">
                          <li class="page-item disabled">
                            <a class="page-link">&laquo;</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">&raquo;</a>
                          </li>
                        </ul>
                      </nav>

            </div>
            
    </div>

</main>
  
  {{> footer }}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="/public/js/validaciones.js"></script>
</body>

</html>