<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <link rel="stylesheet" href="../css/registrarCatInsumos.css">
   <link rel="stylesheet" href="../css/validacionesmodulosJuan.css">
   <link rel="stylesheet" href="../css/estilosgeneral.css">


   <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  </style>

    <title>Registrar Insumo</title>
</head>
<body class="bodybg">

  

    {{> header title="Categoría Insumos"}}
    

  <div class="container"> <!--Contenedor Padre-->


    <form class="formularioInt">
      <!--Contenedor Hijo (AQUÍ ESTÁ NETAMENTE EL FORMULARIO)-->

               <h1 class="textoh1">Registrar Categoría Insumo</h1>
               <div class="row"> 
             <div class="col-md-6">

                     <div class="form-group">
                       <label for="nomCatInsumo" class="form-label fontTtitle">Nombre Categoría Insumo <span class="text-danger">*</span></label>
                       <input type="text" class="form-control btnInput" name="nomCatInsumo" id="nomCatInsumo" oninput="validarNombreCatInsumo()">
                       <div id="mensajeError"></div>
                     </div>


                     <div class=" mt-3 mb-3">
                        <label for="detalleCatInsumo" class="form-label fontTtitle">Detalle <span class="text-danger">*</span></label>
                        <textarea class="form-control btnInput" name="detalleCatInsumo" id="detalleCatInsumo" rows="3" style="height: 180px; width:800px; resize: none;" oninput="validarDetalleCatInsumo()"></textarea>
                        <div id="mensajeErrorDetalle"></div>
                      </div>

                    

                    

                    

             </div> 
             
             

            

         </div>
         <button type="button" class="btn btnLimpiar">Limpiar</button>
         <button type="button" class="btn btnCancelar">Cancelar</button>
         <button type="button" class="btn btnGuardar" onclick="validarFormulario()">Guardar cambios</button>
                   </form>
                      
                 </div>



                 <!--LISTADOS-->
                 
    <div class="containerListar">

      <div class="container2">

              <h2 class="textoh1 mt-3">Listado Insumos</h2>
              <!-- <hr class="lineaHorizontal"> -->

              <table class="table table-orientacion">
                  <thead>
                    <tr>
                      <td scope="col" class="camposListar">ID Pedido</td>
                      <td scope="col" class="camposListar">Nombre Insumo</td>
                      <td scope="col" class="camposListar">Stock Mínimo</td>
                      <td scope="col" class="camposListar">Stock Máximo</td>
                      <td scope="col" class="camposListar">Estado</td>
                      <td scope="col" class="text-center camposListar">operaciones</td>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="datosListar">020408</th>
                      <td class="datosListar">Tela Monaco</td>
                      <td class="datosListar">3</td>
                      <td class="datosListar">2</td>
                      <td class="datosListar">Activo</td>

                      <!--BOTONES DE OPERACION-->
                      <td class="icons"> 
                          <div>  
                              <button type="button" class="btn"> <img src="/assets/img/pencil.ico" alt="" class="iconos-listar"> </button> 
                             </div>

                          <div>  
                             <button type="button" class="btn"> <img src="/assets/img/show.ico" alt="" class="iconos-listar"> </button>
                             </div>

                          <div>   
                             <button type="button" class="btn"> <img src="/assets/img/delete.ico" alt="" class="iconos-listar"></button>
                            </div>

                            <div class="form-check form-switch checkeo">
                              <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            </div>

                      </td>
                          <!--FIN BOTONES DE OPERACION-->

                    </tr>

                    <tr>
                      <th scope="row" class="datosListar">025454</th>
                      <td class="datosListar">Tela Perso</td>
                      <td class="datosListar">1</td>
                      <td class="datosListar">12</td>
                      <td class="datosListar">Inactivo</td>
                      <!--BOTONES DE OPERACION-->
                      <td class="icons"> 
                        <div>  
                            <button type="button" class="btn"> <img src="/assets/img/pencil.ico" alt="" class="iconos-listar"> </button> 
                           </div>

                        <div>  
                           <button type="button" class="btn"> <img src="/assets/img/show.ico" alt="" class="iconos-listar"> </button>
                           </div>

                        <div>   
                           <button type="button" class="btn"> <img src="/assets/img/delete.ico" alt="" class="iconos-listar"></button>
                          </div>

                          <div class="form-check form-switch checkeo">
                            <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckDefault">
                          </div>
                    </td>
                        <!--FIN BOTONES DE OPERACION-->

                    </tr>
                    <tr>
                      <th scope="row" class="datosListar">040520</th>
                      <td class="datosListar" >Tela Algodón</td>
                      <td class="datosListar">5</td>
                      <td class="datosListar">20</td>
                      <td class="datosListar">Activo</td>
                       <!--BOTONES DE OPERACION-->
                       <td class="icons"> 
                        <div>  
                            <button type="button" class="btn"> <img src="/assets/img/pencil.ico" alt="" class="iconos-listar"> </button> 
                           </div>

                        <div>  
                           <button type="button" class="btn"> <img src="/assets/img/show.ico" alt="" class="iconos-listar"> </button>
                           </div>

                        <div>   
                           <button type="button" class="btn"> <img src="/assets/img/delete.ico" alt="" class="iconos-listar"></button>
                          </div>

                          <div class="form-check form-switch checkeo">
                            <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckDefault">
                          </div>
                    </td>
                        <!--FIN BOTONES DE OPERACION-->

                    </tr>

                  </tbody>
                </table>
                <nav aria-label="Page navigation example" class="pag">
                  <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                      <a class="page-link">&laquo;</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">&raquo;</a>
                    </li>
                  </ul>
                </nav>

      </div>
      
</div>

{{> footer }}

                 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                <script src="../js/validarFormularioPedido.js"></script>

</body>
</html>