<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/validacionesmodulosJuan.css">
    <link rel="stylesheet" href="css/estilosGenericosVal.css">
    <title>Registrar Insumo</title>
</head>

<body class="bodybg">
    {{> header title="Categoría Insumos"}}
    <div class="containerBueno">
        <form class="formularioInt">
            <h1 class="textoh1">Registrar Categoría Insumo</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nomCatInsumo" class="form-label fontTtitle">Nombre Categoría Insumo <span class="text-danger">*</span></label>
                        <input type="text" class="form-control btnInput" name="nomCatInsumo" id="nomCatInsumo" oninput="validarNombreCatInsumo()">
                        <div id="mensajeError"></div>
                    </div>
                    <div class=" mt-3 mb-3">
                        <label for="detalleCatInsumo" class="form-label fontTtitle">Descripción <span class="text-danger">*</span></label>
                        <textarea class="form-control btnInput" name="detalleCatInsumo" id="detalleCatInsumo" rows="3" style="height: 180px; width:800px; resize: none;" oninput="validarDetalleCatInsumo()"></textarea>
                        <div id="mensajeErrorDetalle"></div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btnLimpiar">Limpiar</button>
            <button type="button" class="btn btnCancelar">Cancelar</button>
            <button type="button" class="btn btnGuardar" onclick="validarFormulario()">Guardar cambios</button>
            <br>
        </form>
    </div>
    <div class="containerBueno">
        <h2 class="textoh1 mt-3">Listado Categoria Insumos</h2>
        <table class="table table-orientacion">
            <thead>
                <tr>
                    <td scope="col" class="camposListar">Id</td>
                    <td scope="col" class="camposListar">Nombre</td>
                    <td scope="col" class="camposListar">Detalle</td>
                    <td scope="col" class="camposListar">Estado</td>
                    <td scope="col" class="text-center camposListar" style="width: 200px;">Acciones</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="datosListar">020408</th>
                    <td class="datosListar">Tela Monaco</td>
                    <td class="datosListar">2</td>
                    <td class="datosListar">Activo</td>
                    <td class="icons">
                        <div>
                            <button type="button" class="btn"> <img src="img/pencil.ico" alt="" class="iconos-listar"> </button>
                        </div>
                        <div>
                            <button type="button" class="btn"> <img src="img/show.ico" alt="" class="iconos-listar"> </button>
                        </div>
                        <div>
                            <button type="button" class="btn"> <img src="img/delete.ico" alt="" class="iconos-listar"></button>
                        </div>
                        <div class="form-check form-switch checkeo">
                            <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row" class="datosListar">040520</th>
                    <td class="datosListar">Tela Algodón</td>
                    <td class="datosListar">20</td>
                    <td class="datosListar">Activo</td>
                    <td class="icons">
                        <div>
                            <button type="button" class="btn"> <img src="img/pencil.ico" alt="" class="iconos-listar"> </button>
                        </div>
                        <div>
                            <button type="button" class="btn"> <img src="img/show.ico" alt="" class="iconos-listar"> </button>
                        </div>
                        <div>
                            <button type="button" class="btn"> <img src="img/delete.ico" alt="" class="iconos-listar"></button>
                        </div>
                        <div class="form-check form-switch checkeo">
                            <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example" class="pag">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
     <div class="modal fade" id="confirmarEliminarModal" tabindex="-1" aria-labelledby="confirmarEliminarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmarEliminarModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que desea eliminar este elemento?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" onclick="eliminarElemento()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Agrega el modal de eliminación exitosa -->
    <div class="modal fade" id="eliminadoExitosamenteModal" tabindex="-1" aria-labelledby="eliminadoExitosamenteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminadoExitosamenteModalLabel">Eliminado Exitosamente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    El elemento se ha eliminado exitosamente.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    {{> footer }}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../js/validarFormularioPedido.js"></script>
    <script>
        function mostrarConfirmarEliminarModal() {
            $('#confirmarEliminarModal').modal('show');
        }

        function eliminarElemento() {
            

            $('#confirmarEliminarModal').modal('hide');
        }
    </script>
</body>

</html>
