<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilosGenericos.css">
    <style>

    </style>
</head>

<body>
    <!-- Header -->
    {{> header title="Roles"}}

    <!-- Sección de Registro de Rol -->
    <div class="containerBueno">
        <!-- Título de la sección -->
        <h1 class="textoh1 mt-2" id="nombreAccion">Registrar rol</h1>

        <!-- Formulario de Registro -->
        <div class="row">
            <form class="mb-2">
                <!-- Campo de Nombre de Rol -->
                <div class="col-md-12">
                    <div class="mb-4 form-group">
                        <label for="" class="form-label fontTtitle">Nombre rol</label>
                        <input type="text" class="form-control btnInput" name="inputNombreRol" id="inputNombreRol"
                            oninput="validarNombre()">
                        <!-- Mensaje de error -->
                        <div id="mensajeError" class="mensajeError" style="color: #dc3545;
                            font-size: 0.875rem;
                            margin-top: 0.25rem;"></div>
                    </div>
                </div>

                <!-- Lista de Permisos -->
                <div class="col-md-12">
                    <div class="mb-4 form-group">
                        <label for="permisos" class="form-label fontTtitle">Permisos</label>
                        <ul id="moduleList"></ul>
                    </div>
                </div>

                <!-- Botones -->
                <div class="col-md-6 mb-5">
                    <button type="button" class="btn btnLimpiar">Limpiar</button>
                    <button type="button" class="btn btnCancelar">Cancelar</button>
                    <button type="button" class="btn btnGuardar" id="guardarCambiosBtn">Guardar cambios</button>
                </div>
                <br>
            </form>
        </div>
    </div>

    <!-- Barra de búsqueda -->
    <div class="search">
        <form class="d-flex" role="search">
            <input class="form-control me-2 campo-search" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-secondary boton-search" type="submit"><img src="img/search.ico" alt="search"
                    class="icono-search"></button>
        </form>
    </div>

    <!-- Listado de Roles -->
    <div class="containerBueno">
        <!-- Título del Listado -->
        <h2 class="textoh1 mt-3">Listado Roles</h2>

        <!-- Tabla de Roles -->
        <table id="tablaRoles" class="table table-orientacion">
            <thead>
                <tr>
                    <td scope="col" class="camposListar">Id Rol</td>
                    <td scope="col" class="camposListar">Nombre Rol</td>
                    <td scope="col" class="camposListar">Estado</td>
                    <td scope="col" class="text-center camposListar" style="width: 200px;">Acciones</td>
                </tr>
            </thead>
            <tbody>
                <!-- Contenido de la tabla se generará dinámicamente -->
            </tbody>
        </table>

        <!-- Paginación -->
        <nav aria-label="Page navigation example" class="pag">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Modales -->

    <div class="modal fade" id="confirmarEliminarModal" tabindex="-1" aria-labelledby="confirmarEliminarModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Encabezado del modal -->
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmarEliminarModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Cuerpo del modal -->
                <div class="modal-body">
                    ¿Está seguro de que desea eliminar este rol?
                </div>
                <!-- Pie del modal con botones -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" onclick="confirmarEliminarRol()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Rol Eliminado Exitosamente -->
    <div class="modal fade" id="eliminadoExitosamenteModal" tabindex="-1"
        aria-labelledby="eliminadoExitosamenteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Encabezado del modal -->
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminadoExitosamenteModalLabel">Rol eliminado exitosamente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Cuerpo del modal -->
                <div class="modal-body">
                    ¡El rol se ha eliminado con éxito!
                </div>
                <!-- Pie del modal con botones -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exitoModal" tabindex="-1" aria-labelledby="exitoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exitoModalLabel">Rol creado exitosamente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¡El rol se ha creado con éxito!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Rol Creado Exitosamente -->
    <div class="modal fade" id="exitoModal" tabindex="-1" aria-labelledby="exitoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Encabezado del modal -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exitoModalLabel">Rol creado exitosamente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Cuerpo del modal -->
                <div class="modal-body">
                    ¡El rol se ha creado con éxito!
                </div>
                <!-- Pie del modal con botones -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Rol Editado Exitosamente -->
    <div class="modal fade" id="exitoModalEdit" tabindex="-1" aria-labelledby="exitoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Encabezado del modal -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exitoModalLabel">Rol editado exitosamente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Cuerpo del modal -->
                <div class="modal-body">
                    ¡El rol se ha editado con éxito!
                </div>
                <!-- Pie del modal con botones -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmar Cambio de Estado -->
    <div class="modal fade" id="confirmarCambioEstadoModal" tabindex="-1" aria-labelledby="confirmarCambioEstadoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarCambioEstadoModalLabel">Confirmar Cambio de Estado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea cambiar el estado?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="confirmarCambioEstadoBtn">Aceptar</button>
            </div>
        </div>
    </div>
</div>
</body>

<script src="js/roles.js">
   
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>