<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylesUbicacionEst.css">
    <link rel="stylesheet" href="../css/estilosgeneral.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>


<body>
     {{> header title="Productos"}}

    <div class="album py-5 bg-light d-flex">
        <div class="container d-flex align-items-center">
             <div class="menu-container">
        <ul class="list-unstyled">
            <li><a href="vistaCatalogoCli">Productos</a></li>
            <li><a href="productoBaseVista">Productos base</a></li>
            <li><a href="ubicacionEstVis">Ubicaci칩n de estampados</a></li>
        </ul>
    </div>
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="../img/camisa polo.jpg" alt="Producto 1">
                                <div class="card-body">
                                    <h5 class="card-title">Camisa polo</h5>
                    

                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="../img/camiseta basica.jpg" alt="Producto 2">
                                <div class="card-body">
                                    <h5 class="card-title">Camiseta b치sica</h5>
                    

                                </div>
                            </div>
                        </div>

                        
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="../img/buso con capucha y con cierre.jpg" alt="Producto 4">
                                <div class="card-body">
                                    <h5 class="card-title">Buso con capucha y con cierre.</h5>
                    

                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="../img/calcetines basicos.jpg" alt="Producto 3">
                                <div class="card-body">
                                    <h5 class="card-title">Calcetines Basicos</h5>
                 

                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="../img/chaqueta b치sica.jpg" alt="Producto 3">
                                <div class="card-body">
                                    <h5 class="card-title">Chaqueta b치sica.</h5>
                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="personalizacion" class="btn btn-secondary my-2">Personalizar</a>
            </div>

          

</html>