<header class="border-bottom">
  <div class="container1">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <!-- Dynamic title for the current location -->
        <li>
          <nav class="navbar navbar-light bg-light sticky-top">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvaslightNavbar" aria-controls="offcanvaslightNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#"></a>
              <div class="offcanvas offcanvas-start text-light" tabindex="-1" id="offcanvaslightNavbar"
                aria-labelledby="offcanvaslightNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvaslightNavbarLabel">MENÚ</h5>
                  <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <!-- Menu Items -->
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">CONFIGURACIÓN</a></li>
                    <li><a href="#">Roles</a></li>
                    <li><a href="#">GESTIÓN DE USUARIOS</a></li>
                    <li><a href="#">COMPRAS</a></li>
                    <ul>
                      <li><a href="#">Categoria de insumos</a></li>
                      <li><a href="#">Gestion de insumos</a></li>
                      <li><a href="#">Gestion de proveedores</a></li>
                      <li><a href="#">Gestion de compras</a></li>
                    </ul>
                    <li><a href="#">PRODUCTOS</a></li>
                    <ul>
                      <li><a href="#">Estampados</a></li>
                      <li><a href="#">Catalogo de productos</a></li>
                      <li><a href="#">Producto Base</a></li>
                      <li><a href="#">Producto personalizado</a></li>
                    </ul>
                    <li><a href="#">PRODUCCION</a></li>
                    <ul>
                      <li><a href="#">Gestion de empleados</a></li>
                      <li><a href="#">Gestion ficha Tecnica</a></li>
                      <li><a href="#">Gestion Orden de producción</a></li>
                    </ul>
                    <li><a href="#">VENTAS</a></li>
                    <ul>
                      <li><a href="#">gestión de clientes</a></li>
                      <li><a href="#">gestión de ventas</a></li>
                      <li><a href="#">gestión de cotizacion</a></li>
                      <li><a href="#">gestión de carrito de productos</a></li>
                      <li><a href="#">gestión de pedido</a></li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </li>
      </ul>
    </div>
  </div>
</header>